/problema1/Problema1/nbproject/private/
/problema1/Problema1/build/
/problema2/Problema2/nbproject/private/
/problema2/Problema2/build/
/problema2/Problema3/nbproject/private/
/problema2/Problema3/build/
/problema2/Problema03/nbproject/private/
/problema2/Problema03/build/
